/**=====================
     58. FullCalendar CSS Start
==========================**/
.cv-week {
    min-height: 8em;
}
.cv-event {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  padding: 9px 6px;
  border-radius: 4px;
}
/**=====================
    58. FullCalendar CSS End
==========================**/
